@import url("/style/base/variables.css");
@import url("/style/base/button.css");
@import url("/style/base/form.css");

body {
    font-family: sans-serif;
    background-color: var(--bg);
    color: var(--text-color);
    max-width: var(--site-width-full);
    margin: 0;
    padding: 0;
}

.main {
/*    width: 100%;*/
    margin: 0 1rem;
}

.center-vertically, .center-y {
    height: 100vh;
    display: flex;
    align-items: center;
}

.center-horizontally, .center-x {
    margin: auto;
    width: 100%;
}

.container {
    margin-bottom: 1rem;
}

.flex-row  {
    display: flex;
    flex-direction: row;
}

.flex-column  {
    display: flex;
    flex-direction: column;
}

.flex-row * {
    margin-right: .25rem;
    margin-left: .25rem;
}

.w100 {
    width: 100%;
}