.week-controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}
.week-controller > button {
    font-size: 2rem;
}

.date {
    display: flex;
    flex-direction: column;
}
.date > div {
    display: flex;
    flex-direction: row;
}


.placement {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E9E9E9;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
}

/*
.weekbar {
    --padding-sides: 1rem;

    width: calc(100% - 2*var(--padding-sides));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem var(--padding-sides);
    position: sticky;

    max-width: 60rem;
}

.weekbar > button > i {
    font-size: 2rem;
}

.week-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} .week-controls > button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
} .calendar-svg {
    z-index: 1;
    width: 2rem;
    height: 2rem;
} .direction-svg {
    width: 2rem;
    height: 2rem;

    position: relative;
    z-index: 2;
    left: -2rem;
    bottom: -0.75rem;
} .week-controls > div {
    display: flex;
    flex-direction: column;
} .week-controls > div > div {
    display: flex;
    flex-direction: row;
}


.controlls {
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
}
.controlls > button {
    position: fixed;
    bottom: 0;
}

.logentry {
    border: 1px solid;
    padding: 1rem;
}

.logentry-d1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logentry-d2 {
    display: flex;
    flex-direction: row;
}

.logentry-place {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
}

.logentry-username {
    margin-right: 1rem;
}

.logentry-amount {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.log-activities {
    display: none;
}


.logactivity {
    padding: 0.1rem;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logactivity-propertie {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.logactivity-starttime {

}

.logactivity-duration {

}
.logactivity-amount {

}
*/